.App {
  text-align: center;
  position: relative;
}

.App-header {
  position: fixed;
  width:100%;
  top:0px;
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;
  padding:12px 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 0.988636px 11.8636px;
}

.App-header img{
  width:100px ;
  height:50px;
}

.errorMsg{
  color:red;
  font-size: 12px;
  padding:0 8px;
}

.timeSlots{
  margin-top: 150px;
}

.slotDiv{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:24px 12px;
  margin:24px;

}

.selectSlot{
  display: flex;
  padding:8px 16px;
  border:1px solid #1b9aee;
  border-radius: 8px;
  color:#1b9aee;
  font-weight: 500;
  line-height: 18px;
  font-size: 16px;
  justify-content: center;
}

.selectSlot:hover{
  background:#e5e5e5;
}

.formPage{
  margin-top:150px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.inputField{
  padding: 8px;
  border-radius: 4px;
  border:1px solid #e5e5e5;
  width: 80%;
  margin:12px;
  /* align-items: center; */
  outline:none;
}

.buttonDiv
{
  margin-top:36px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.buttonDiv-primary{
    border:1px solid #1b9aee;
    padding:8px 16px;
    border-radius: 8px;
    color: #1b9aee;
    background: #fff;
    width: 200px;
    box-sizing: border-box;
    outline:none;
}

.buttonDiv-secondary{
    border:1px solid #1b9aee;
    padding:8px 16px;
    border-radius: 8px;
    color: #fff;
    background: #1b9aee;
    width:200px;
    box-sizing: border-box;
    margin-left:24px;
    outline:none;
}



@media(min-width:700px){

}